html {
    font-size: 13pt;
}

/* #region Tab */
 .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
.tab button:hover {
    background-color: #ddd;
}
.tab button.active {
    background-color: #ccc;
}
.tabcontent {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
.tabTitle {
    display: inline;
}
.add_btn {
    margin: 10 0;
}
/* #endregion */

/* #region Modals */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* #endregion */

/* #region Gathering Log */
.log {
    width: 90%;
    border: 1px black solid;
}
.row {
    display: flex;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row div {
    position: relative;
}
.log .title.row {
    height: 30px;
}
.log .title.row {
    background: lavender;
    height: 80px;
}
.title.row > div > h3{
    height: 100%;
}
.row.quality {
    position: absolute;
    bottom: 0;
    display: inline-flex;
    width: 100%;
}
.title.row h3 {
    margin: 5 10;
    font-weight: 400;
    font-size: 1.17rem
}
div[class$=Col] {
    border-left: 1px #000 solid;
    border-right: 1px #000 solid;
}
.nameCol {
    width: 20%;
    min-width: 200px;
}
.quantityGroupCol {
    min-width: 120px;
    width: 10%;
    position: relative;
}
.locationCol {
    width: 20%;
    min-width: 80px;
}
.levelCol {
    min-width: 65px;
    width: 4%;
}
.notesCol {
    width: 31%;
}
.LQCol,
.HQCol {
    width: 50%;
    float: left;
    text-align: center;
}
.LQCol {
    background: gray;
}
.HQCol {
    background: silver;
}
/* #endregion */